/**/.classpath
/**/.project
/**/build/
/**/.metadata/
/**/.gradle/
!/**/build.gradle
/**/.settings/
/**/bin/
/npm-debug.log
/**/npm-debug.log
/apps/build
/apps/**/classic.json
!/apps/ext/build/
/node_modules
/bower_components
/.settings/
/target/
.classpath
.project
